body {
  font-family: "Times New Roman", serif;
  background: #fff;
  color: #000;
  margin: 30px;
}

.kop-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kop-left img {
  display: block;
  margin: auto;
}

.kop-center {
  text-align: center;
  flex-grow: 1;
}

.kop-center h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.kop-center p {
  margin: 3px 0;
  font-size: 14px;
}

.kop-line {
  border: none;
  border-top: 1px solid #000;
  margin-top: 10px;
}

.body {
  margin-top: 25px;
}

.body h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.detail-table {
  width: 85%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 15px;
}

.detail-table td {
  padding: 6px 4px;
  vertical-align: top;
}

.detail-table tr td:first-child {
  width: 25%;
}

.detail-table tr td:nth-child(2) {
  width: 2%;
}

.note {
  font-size: 14px;
  padding-top: 10px;
}

@media print {
  body {
    margin: 10mm;
  }
  .kop-line {
    margin-top: 5px;
  }
}
