.footer {
  background: #0d1b2a;
  color: #fff;
  padding: 40px 0 0;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-section h6 {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #4da3ff;
}

.footer-section p {
  color: #d0d0d0;
  margin: 6px 0;
  line-height: 1.6;
  font-size: 14px;
}

.footer-bottom {
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  border-top: 1px solid #1e2d3a;
  font-size: 14px;
  color: #ccc;
}

/* Responsif */
@media(max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 480px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
